* {
	box-sizing: border-box;
}

body {
	color: #1a1a1a;
	background-color: #eeeeee;
}


form {
	border: 2px solid rgb(111, 33, 33);
	margin: 0.5em 0;
	padding: 0 1em;
}

.form-section {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
	/* background-color: rgb(198, 198, 229); */
}
.form-section.row {
	flex-direction: row;
}